body {
  background-color: #ff4363;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 100%;
  line-height: 100%;
}

.hero {
  padding: 100px 10px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.section {
  overflow: visible;
  padding: 15px 10px;
  background-color: #efefef;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.footer {
  padding: 50px 10px;
  background-color: #fff;
  text-align: center;
}

.nav {
  padding: 25px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff;
}

.container {
  display: block;
  width: 75%;
  height: 100%;
  max-width: 1195px;
  min-width: 975px;
  margin-right: auto;
  margin-left: auto;
}

.container.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.heading {
  margin-top: 0px;
  color: #ff4363;
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.sub-heading {
  font-family: Lato, sans-serif;
  color: rgba(255, 67, 99, .5);
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.brand {
  float: left;
  text-decoration: none;
}

.nav-menu {
  display: inline-block;
  float: right;
}

.logo {
  color: #ff4363;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link {
  display: inline-block;
  -webkit-transition: color 150ms ease-in;
  transition: color 150ms ease-in;
  color: rgba(0, 0, 0, .75);
  line-height: 30px;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff4363;
}

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-bottom: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.filters-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.search-wrapper {
  display: inline-block;
  margin-bottom: 0px;
  float: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.quicksearch {
  height: 50px;
  margin-bottom: 0px;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 10px;
  -webkit-transition: border 150ms ease-in;
  transition: border 150ms ease-in;
  font-size: 16px;
  line-height: 20px;
}

.quicksearch:focus {
  border-color: #ff4363;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: background-color 150ms ease-in, color 200ms ease;
  transition: background-color 150ms ease-in, color 200ms ease;
  color: rgba(0, 0, 0, .8);
  font-size: 1em;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #fff;
  color: #ff4363;
}

.button:active {
  background-color: #ff4363;
  color: #efefef;
}

.button:focus {
  background-color: #ff4363;
  color: #efefef;
  outline: none;
}

.button.is-checked {
  background-color: #ff4363;
  color: #fff;
}

.filter-dropdown {
  margin-right: 20px;
}

.filter-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.filter-toggle.w--open {
  display: inline-block;
}

.filter-list.w--open {
  display: block;
  overflow: hidden;
  margin-top: -50px;
  border-radius: 10px;
  box-shadow: 0 0 25px -10px #000;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.filter-label {
  font-size: 16px;
}

.card {
  height: 100%;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
}

.dynamic-item {
  display: block;
  padding: 10px;
}

.category {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #efefef;
  font-size: 12px;
  text-transform: capitalize;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-transition: color 150ms ease-in;
  transition: color 150ms ease-in;
  font-size: 2em;
  line-height: 1.3em;
  text-transform: capitalize;
  cursor: pointer;
}

.card-title:hover {
  color: #ff4363;
}

.dynamic-list {
  margin-right: -10px;
  margin-left: -10px;
}

.card-summary {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}

.post-btn {
  display: inline-block;
  color: rgba(0, 0, 0, .7);
  font-weight: 400;
  text-decoration: none;
}

.post-btn:hover {
  color: #ff4363;
}

.inline-link {
  display: inline;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  color: #000;
  text-decoration: none;
}

.inline-link:hover {
  color: #ff4363;
}

.dynamic-listr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.spreadsheet-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: hsla(0, 0%, 94%, .95);
}

.spreadsheet-modal__main {
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.spreadsheet-modal__main__embed {
  width: 100%;
  height: 100%;
}

.spreadsheet-embed {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 5px solid #a8a8a8;
  border-radius: 5px;
  box-shadow: 0 0 100px -25px #000;
}

.collection-item {
  display: inline-block;
}

.button-embed {
  margin-right: 10px;
  margin-bottom: 10px;
}

.section-map {
  height: 500px;
}

.text-span {
  color: #ff4363;
}

.section-3 {
  min-height: 500px;
  background-image: url('../images/21147781_116519762345550_7706774666085400576_n.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.tagline {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.collection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field {
  border-radius: 5px;
}

.submit {
  border-radius: 5px;
}

.submit.button {
  background-color: #0091ea;
  color: #efefef;
}

.field-label {
  color: rgba(0, 0, 0, .56);
}

.tab-link {
  margin-right: 10px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ccc;
}

.tab-link.w--current {
  background-color: #efefef;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.collection-list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-right: -10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.collection-item-2 {
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.success {
  line-height: 120%;
}

.collection-list-wrapper {
  margin-right: 10px;
}

#map img {
  max-width: none;
}

button:focus {
  outline:0;
}

textarea {
  min-height: 125px;
}

.w-input, .w-select {
  font-size: 1.25em;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .section-3 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .container.nav-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .search-wrapper {
    margin-top: 20px;
    float: left;
  }
  .section-3 {
    min-height: 300px;
  }
  .tagline {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .nav {
    padding-bottom: 15px;
  }
  .container.nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .nav-link {
    margin-top: 15px;
  }
  .button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .filters-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button {
    height: 40px;
    font-size: 0.9em;
    line-height: 0.9em;
  }
  .dynamic-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  .collection-item {
    display: block;
  }
  .section-3 {
    max-height: 150px;
    min-height: 150px;
  }
  .tab-link {
    padding: 15px 20px;
  }
  .tabs-menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .text-block {
    font-size: 90%;
    line-height: 90%;
    text-align: center;
  }
  .text-block-2 {
    font-size: 90%;
    line-height: 90%;
    text-align: center;
  }
}

/*toggle checkboxes*/
/* Hide default HTML checkbox */
.w-button input {display:none;}

label.button{
  padding:0;
}

.checkbox-span {
  width:100%;
  height: 100%;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}

input:checked + .checkbox-span {
  background-color: #ff4363;
  color:white;
}

input:checked + .checkbox-span:hover {
  color:white;
}

